/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100vh;
  margin: 0px;
  background-color: var(--background-color, white);
  box-sizing: border-box;
  font-family: "Poppins", ia-font, Roboto, "Helvetica Neue", sans-serif !important;
}